<%= simple_form_for(@entry ||= Entry.new) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% @entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12 col-md-10">
    <div class="well">
      <%= f.input(
        :language, 
        collection: languages_simple_form_conversion, 
        selected: last_selected_language_simple_form_conversion
      ) %>
    <%= f.input(:term) %>
    <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

