<h1>Listing Enries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Term</th>
      <th>Language</th>
      <th>Url</th>
      <th>Download</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.term %></td>
        <td><%= languages[entry.language] %></td>
        <td><%= entry.url %></td>
        <td><%= link_to 'Download', attachments_download_path(:entry_url => entry.url, :term => entry.term) %></td>
        <td><%= link_to 'Delete', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
